.animate-slide-down {
  animation: slide-down 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-slide-up {
  animation: slide-up 0.7s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-20px);
    max-height: 0;
    opacity: 0;
  }
  to {
    transform: translateY(0);
    max-height: 600px;
    opacity: 1; 
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
    max-height: 600px;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
    max-height: 0;
  }
}

/* .backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */